

  <style>
    /* This CSS has to be here as it's not inheriting from layout.html - so no access to custom.css */

    /*nav {background-color: #ffff00;}*/
    .my-navbar .navbar-nav .nav-link {
      color: #ffff1a
       ;
      font-size: 1.25rem;

    }
  </style>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link" href="/">Popular</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/Movies">My Soundtracks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/movie">Movies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/delete">Delete Account</a>
    </li>
  </ul>
    </div>
  </div>

  <ul class="navbar-nav navbar-expand-sm ms-auto mb-2 mb-lg-0">
    {% if session.logged_in %}
      <li class="nav-item justify-content-end">
        <a class="nav-link" href="/dashboard">DashBoard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
    {% endif %}
  </ul>
</nav>

