{% extends 'layout.html' %}
{% block body %}
body {


	<h1>Welcome to Annas FANTASY movie soundtrack maker app</h1>
    <p><span class="purple">If you have any messages queries or bugs that need attention,feel free to contact:</span></p>
    <a href="https://github.com/" target="_blank"><img src="https://assets-cdn.github.com/images/modules/open_graph/github-mark.png" alt="github"></a>-->
    <a href = "mailto: annaredmo@gmail.com">Send Us an Email Here!!!!</a>
    <h1>We will respond in a matter of days</h1>

{% endblock %}
