{% extends 'layout.html' %}
{% block body %}

<body id="login">
<div class="container-fluid mt-3">
            <div class="col-sm-6">
                <div id="form-box">
                    <h1>Log-In</h1>
                    <form action="" method="POST">
  	            <div class="form-group">
		            <label>Username</label>
                    <input type="text" name="username" class="form-control" value={{request.form.username}}>
  	            </div>
  	            <div class="form-group">
          			<label>Password</label>
  		        	<input type="password" name="password" class="form-control" value={{request.form.password}}>
		        </div>
	            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
                </div>
            </div>
        </div>
        </body>

  {% endblock %}
