{% extends 'layout.html' %}
{% block body %}

    <style>

        .grow {
    flex: 1;
}
.main {
    overflow-y: auto;

}
.playlist-height{ height: calc(100vh - 8.313rem);}

    </style>

<div class="container-fluid d-flex flex-column align-items-center px-0 playlist-height">
<div class="row grow w-100">
    <div class="col-12 py-3">
        <div class="playlist-title">Header</div>
    </div>

    <div class="col-4 bg-info py-1">
      Menu
    </div>
    <div class="main col-8 bg-warning h-100 py-3">


        <h4>Main</h4>
        <p class="mb-5">Srirachanable cardigan, Williamsburg master cleanse hella DIY 90's blog.</p>
        </div>
</div>

</div>
    {% endblock %}
