{% extends 'layout.html' %}
{% block body %}
<div class="container">
<div class="row g-4">
	<h1>Welcome {{session.username}} </h1>
		<table class="table table-dark table-thick-border  table-hover align-middle text-centre">
			<tbody>
			{% for movie in movieList %}
			<tr>
				<td><img src="{{movie[2]}}" class="small-img"></td>
				<td>{{movie[1]}}</td>

				<td><form id = "movieListSelect" action="/pickMovie" method="POST">
					<input type="hidden" name="movie" value="{{ movie }}">
					<button formaction="/pickMovie" type="submit">Select Movie</button>
				</form></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</div>
{% endblock %}
