{% extends 'layout.html' %}

{% block body %}
<style>


</style>

<div class="container">
  <div class="row align-items-center">
    <div class="col-sm-6">
      <h1 class="kalam display-3">{{ playList.playlisttitle }} by {{ playList.username }}</h1>
    </div>
    <div class="col-sm-3 d-flex justify-content-center">
      <div class="like-button btn-danger icon-button" onclick="incrementLikes()">
        <i class="bi bi-heart"></i>
        <span id="like-count" class="like-count">{{ playList.likes }}</span>
      </div>
    </div>
    <div class="col-sm-3 d-flex justify-content-center">
      <div class="comment-button btn-danger icon-button" onclick="showCommentModal()">
        <i class="bi bi-chat-left-text"></i>
        <span id="create-comment"></span>
      </div>
    </div>
  </div>
  <input type="hidden" id="playlist-id-playlist" value="{{ playList.spotifylink }}">
  <input type="hidden" id="username-playlist" value="{{ playList.username }}">



    <div class="container-playlist-2">

  <div class="row  grow w-100">
    <div class="col-5">
        <img src="{{ playList.imgLink }}" class="playlist-img">

            </div>

        <div class="col-7">

              <div class="playlist-scr-table bottom-margin">
                <table class="table table-hover " >
                <tbody>
			    {% for song in playList['tracks'] %}
                    <tr><td class="btn rec-table-button" data-song-id="{{song[1]}}">{{song[0]}}</td></tr>
			    {% endfor %}
		        </tbody>
                </table>
              </div>

            <div class="playlist-scr-table bottom-margin">
                <table class="table  table-hover" >
                <tbody id="commentlist">
                {% for comment in playList['comments'] %}
                <tr><td>{{comment[0]}} by <span class="Lucinda">{{comment[1]}}</span></td></tr>
    			{% endfor %}
	        	</tbody>
                </table>
            </div>
        </div>
  </div>

</div>
<!--button class="btn btn-danger comment-btn" onclick="showCommentModal()">
  <i class="bi bi-chat-left-text"></i>
</button -->
   </div>
<!-- Modal -->
<div id="comment-modal" class="modal">
  <div class="modal-content allCommentBox">
    <div class="modal-header">
      <h5 class="modal-title ">What ye think ???</h5>
      <span class="close" onclick="hideCommentModal()">&times;</span>
    </div>
    <div class="modal-body commentBox">
      <textarea class="commentBox kalam" id="comment-textarea" placeholder="Type your comment here"></textarea>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" onclick="hideCommentModal()">Cancel</button>
      <button type="button" class="btn btn-primary" onclick="submitComment()">Thanks</button>
    </div>
  </div>
</div>



<script>
// Get the modal dialog box and the comment textarea
var commentModal = document.getElementById("comment-modal");
var commentTextarea = document.getElementById("comment-textarea");

function showCommentModal() {
  commentModal.style.display = "block";
}

 function hideCommentModal() {
  commentModal.style.display = "none";
  commentTextarea.value = "";

}

// Submit the comment
async function submitComment() {
  // Get the comment text from the textarea
  var comment = commentTextarea.value;
  // Do something with the comment, e.g. send it to the server using AJAX
  console.log("Comment submitted:", comment);
  // Hide the modal dialog box
  hideCommentModal();


  id = document.getElementById("playlist-id-playlist").value;
    username = document.getElementById("username-playlist").value;

   const data = {
      comment: comment,
      spotifyLink: id,
      username:username
   };
   console.log(data, id);

    const response = await fetch('/update_comments', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({table_data: data})
  });
  if (response.ok) {
    console.log('Table data was successfully sent to the server');
    var tableBody = document.getElementById("commentlist");
    var newRow = document.createElement("tr");
    var newCell = document.createElement("td");
    newCell.textContent = comment+" by "+username; /* TODO doesnt have font */
    newRow.appendChild(newCell);
    tableBody.appendChild(newRow);

  } else {
    console.error('Network response was not ok');
  }
}

  async function incrementLikes() {
    var countEl = document.getElementById('like-count');
    var count = parseInt(countEl.innerHTML);
    countEl.innerHTML = count + 1;

    var spotifyLink = document.getElementById("playlist-id-playlist").value;
    const data = {
      likes: count+1,
      spotifyLink: spotifyLink
    };

    console.log('spotify',data)

    const response = await fetch('/update_likes', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({table_data: data})
  });
  if (response.ok) {
    console.log('Table data was successfully sent to the server');
  } else {
    console.error('Network response was not ok');
  }
  }
</script>

{% endblock %}



