{% extends 'layout.html' %}
{% block body %}
<h1>Add Reccomended songs to your playlist from the official soundtrack</h1>
  <input id="song_search" type="text" placeholder="Search Song..">

<body>

<div class="container mt-5">
    <div class="row col-4">
        <form method="POST" class="form-register">

            <input type="submit" name="load_button" value="Official Soundtrack">
            <input type="submit" name="load_button" value="Search">
            <input type="submit" name="load_button" value="Official Soundtrack">

        </form>
    </div>

<div class="container mt-5">

  <div class="row">

    <div class="col-sm-4">
		<table class="table  table-hover">
			<tr>
				<th>Official Soundtrack</th>
			</tr>
			{% for song in session["selectTracksFrom"] %}
			<tr>
				<td><a href="play_playlist/{{song.id}}"  class="btn btn-default">{{song}}</a></td>
				<td><a href="/Remove" class="btn btn-danger pull-right ">Add</a></td>
			</tr>
			{% endfor %}
        </table>
    </div>
    <div class="col-sm-4">
        <table class="table  table-hover">
			<tr>
				<th>Track in </th>
			</tr>
			{% for song in session["playListTracks"] %}
			<tr>
				<td><a href="play_playlist/{{song.id}}"  class="btn btn-default">{{song}}</a></td>
				<td><a href="/Remove" class="btn btn-danger pull-right ">Remove</a></td>
			</tr>
			{% endfor %}
        </table>
    </div>
  </div>
</div>
</div>

</body>


{% endblock %}
