{% extends 'layout.html' %}
{% block body %}
<div class="container mt-3">
    <h1> For {{session['playListName']}}</h1>
</div>

<form method="POST">

    <div class="container mt-3">
      <div class="input-group">
          <input type="text" id="song-name" name="song_name" class="form-control" maxlength="30">
          <div class="input-group-append">
            <button type="button" name="load_button" value="Search" class="btn btn-primary" onclick="searchTracks()">Search</button>
          </div>
      </div>
    </div>

    <div class="container mt-3">
    <div class="row">
        <div class="col p-3 me-1 d-grid gap-1"><button type="button" class="btn btn-primary" id="official" onclick="officialSoundtrack()">Official Soundtrack</button></div>
        <div class="col p-3 me-1 d-grid gap-1"><button type="button" class="btn btn-danger" onclick="saveTracks()">Save your tracks</button></div>
        <div class="col p-3 me-1 d-grid gap-1"><button type="button" class="btn btn-primary" id="recommended" onclick="getRecommendedracks()">Recommended</button></div>
    </div>
   </div>
</form>

<div class="container  mt-5">
  <div class="row">
    <div class="col-6-rec ">
		<table class="table  table-thick-border table-hover table-bordered" id="recommendedTable">
            <tbody id="tbodyrec">
			<tr>
				<th class="">Recommended tracks for your Movie </th>
                <th></th>
			</tr>
            </tbody>
        </table>
    </div>
    <div class="col-6-rec">
        <table class="table  table-thick-border table-hover table-bordered" id="playListTable" >
            <tbody>
			<tr>
				<th>Your Fan Track Picks</th>
			</tr>
			{% for song in playListTracks %}
			<tr>
				<td class="btn rec-table-button" data-song-id="{{song[1]}}">{{song[0]}}</td>
				<td class="move-cell"><button type="button" class="btn btn-danger" onclick="removeTrack(this)">Remove</button></td>
				</tr>
			{% endfor %}
		</tbody>
        </table>
    </div>
  </div>
    <script src="{{ url_for('static', filename='recommendedScript.js') }}"></script>
</div>

{% endblock %}
