{% extends 'layout.html' %}
{% block body %}

<div class="container">
	<div class="row g-4">


	<h1>Hi {{session.username}} </h1>

	<a href="/create_playlist"  class="btn long-btn-custom" role="button">Create A New Playlist</a>
	<table class="table table-dark table-thick-border  table-hover align-middle text-centre rec-scr-table">
		<tbody>
			{% for playlist in playlists %}
			<tr>
				<td>
				  <form action="/playlist" method="POST">
					  <input type="hidden" name="spotifylink" value="{{ playlist.spotifylink }}">
						  <button type="submit"><img src="{{playlist.imgLink}}"  class="small-img"></button>
				  </form>
				</td>

				<td><a  href="play_playlist/{{playlist.id}}"  class="btn table-button">{{playlist.playlisttitle}}</a></td>
				<td><a href="https://open.spotify.com/playlist/{{playlist.spotifylink}}"><button class="btn table-button">Play</button></a></td>
				<td><a href="delete_playlist/{{playlist.playlisttitle}}"><button class="btn table-button btn-hover">Delete</button></a></td>
				<td><form id = "PlaylistSelect" action="/recomended" method="POST">
					<input type="hidden" name="playlistTitle" value="{{playlist.playlisttitle}}">
					<input type="hidden" name="spotifylink " value="{{playlist.spotifylink}}">
					<button formaction="/recomended" type="submit">Add Tracks</button>
				</form></td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
		</div>
</div>
{% endblock %}
