
{% extends 'layout.html' %}
{% block body %}

<body>
	<div class="banner">
<img class="banner-image" src="static/images/blockbusterBanner.jpeg" alt="Banner Image">
	</div>

<div class="jumbotran text-center">
	<h1 class="lead">Popular with Friends</h1>
</div>

  <div class="container">
    <div class="row">
      {% for movie in playlists %}
      <div class="col-sm-4 mb-4">
        <div class="thumbnail">
          <form action="/playlist" method="POST">
            <input type="hidden" name="spotifylink" value="{{ movie.spotifylink }}">
            <button type="submit"><img src="{{ movie.imgLink }}" alt="{{ movie.title }}"></button>
            <--! need to make alt text smaller - make it re??-->
          </form>

          <div class="caption">
            <h5>{{ movie.playlisttitle }}</h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
